@model EntityLayer.Entities.Admin 
@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Yeni Duyuru Girişi</h4>
                 
                  <form class="forms-sample" method="post" >
                    <div class="form-group">
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@

                      <label >Kullanıcı Adı</label>
                 
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Kullanıcı Adı" asp-for="AdminName"  >
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@

                    <div class="form-group">
                      <label >Şifre</label>
                     
                     <input type="password" asp-for="Sifre"  class="form-control" id="exampleInputName1" placeholder="Şifre Giriniz" >
               
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@
      
                  <br />
                   
                    <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                  </form>
                </div>
              </div>
            </div>

