@model EntityLayer.Entities.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Yeni Takım Arkadaşı Kaydı</h4>
                 
                  <form class="forms-sample" method="post" >
                    <div class="form-group">
                      <label for="exampleInputName1">Adı Soyadı</label>
                      <span asp-validation-for="PersonName" class="text-danger"></span>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Ad Soyad" asp-for="PersonName"  >
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@

                    <div class="form-group">
                      <label for="exampleInputEmail3">Görev</label>
                       <span asp-validation-for="Title" class="text-danger"></span>
                      <input type="text" class="form-control"  placeholder="Görev" asp-for="Title" >
                      @*Required(ErrorMessage = "Bu alanı boş geçmeyiniz")*@ 
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                        <div class="form-group">
                      <label for="exampleInputEmail3">Görsel Yolu</label>
                       <span asp-validation-for="ResimUrl" class="text-danger"></span>
                      <input type="text" class="form-control"  placeholder="Görsel Yolu" asp-for="ResimUrl" >
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                    <div class="form-group">
                      <label for="exampleInputEmail3">Facebook</label>
                       <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                      <input type="text" class="form-control"  placeholder="Facebook Linkini Giriniz" asp-for="FacebookUrl" >
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                        <div class="form-group">
                      <label for="exampleInputEmail3">İnstagram</label>
                       <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                      <input type="text" class="form-control"  placeholder="İntagram Linkini Giriniz" asp-for="InstagramUrl" >
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                        <div class="form-group">
                      <label for="exampleInputEmail3">Twitter</label>
                       <span asp-validation-for="TwitterrUrl" class="text-danger"></span>
                      <input type="text" class="form-control"  placeholder="Twitter Linkini Giriniz" asp-for="TwitterrUrl" >
                    </div>
@* ------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                  <br />
                   
                    <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                  </form>
                </div>
              </div>
            </div>


