@using EntityLayer.Entities
	@model List<Resim>

 <div class="gallery" id="gallery">
	<div class="container">

	<p class="heading-btm-w3ls">Bizim Gözümüzden</p>
		<div class="agile_gallery_grids w3-agile">
				<ul class="clearfix demo">
					@foreach (var item in Model)
				{
					
				
					<li>
						<div class="gallery-grid1">
							<img src="@item.ImageUrl" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4> <span>@item.Title</span></h4>
								<p>@item.Description</p>
							</div>
						</div>
					</li>
			
						
					}
				
				</ul>
			
			</div>
	</div>
</div>
