@model EntityLayer.Entities.Contact
						<div class="col-md-9 contact-middle">
					<h2>Bize Ulaşın</h2>
					<form action="#" method="post">
					<div class="form-agileinfo">
						<p>Adınız Soyadınız</p>
						<input type="text" name="your name" placeholder="ad soyad" required="" />
						<p>Mail Adresiniz</p>
						<input type="email" name="your email" placeholder="Mail" required="" />
					</div>
					<div class="form-agileits-w3layouts">
					<p>Mesajınız</p>
						<textarea  name="your message" placeholder="mesaj" required="" ></textarea>
							<input type="submit"   value="Mesajı Gönder">
					</div>
					<div class="clearfix"></div>
					</form>
				</div>
