
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/Admin_Partials/Admin_Head.cshtml")

<body>
  <div class="container-scroller">
@await Html.PartialAsync("~/Views/Admin_Partials/Admin_Nav.cshtml")
  <div class="container-fluid page-body-wrapper">
@await Html.PartialAsync("~/Views/Admin_Partials/Admin_SideBar.cshtml")

       <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            @RenderBody()
                </div>
              </div>
          
       
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
        </div>
        </footer>
        <!-- partial -->
      </div>
  </div>
     </div>
  <!-- container-scroller -->
@await Html.PartialAsync("~/Views/Admin_Partials/Admin_Script.cshtml")
</body>

</html>
